$primaryColor: hsl(10, 79%, 65%);
$creamColor: hsl(30, 38%, 92%);
$cyanColor: hsl(186, 34%, 60%);
$darkColor: hsl(25, 47%, 15%);
$lightColor: hsl(28, 10%, 53%);
$orangeColor: hsl(33, 100%, 98%);

$desktopLarge: 1440px;
$desktopNormal: 1200px;
$desktopSmall: 1024px;
$tabletLarge: 991px;
$tablet: 768px;
$mobilexLarge: 640px;
$mobileLarge: 426px;
$mobileMedium: 375px;
$mobileSmall: 320px;
